@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #34767e;
    --secondary: white;
    --terciary: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    color: var(--terciary);
}

section {
    min-height: 100vh;
    padding-top: 100px; 
}

/*HEADER*/
header {
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Logo */
header img {
    height: 50px;
    width: auto;
}

/* NAV */
nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-family: 'Neutra';
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #dff4f5;
}

/*HERO SECTION*/
#Inicio {
    background-image: url(../img/HeroSection.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    text-align: center;
    padding: 0 1.5rem;
}

.centrado {
    margin-right: 20rem;
    max-width: 800px;
    color: var(--secondary);
}

h1 {
    /* font-family: 'Neutra'; */
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.centrado p {
    font-size: 2rem;
    font-weight: 300;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    margin-bottom: 2rem;
    line-height: 1.6;
    letter-spacing: 0.3rem;
}

.centrado a {
    display: inline-block;
    background-color: var(--primary);
    color: var(--secondary);
    text-decoration: none;
    font-size: 2rem;
    padding: 0.9rem 2.2rem;
    border-radius: 10px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.centrado a:hover {
    background-color: #285e64;
}

/*FOOTER*/
footer {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 -8px 20px rgba(0, 0, 0, 0.25);
}

.footer-info {
    display: flex;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.footer-info p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
}

.footer-info i {
    font-size: 1rem;
}

.footer-info a {
    color: var(--secondary);
    text-decoration: none;
    transition: opacity 0.3s ease;
}   
footer img {
    height: 45px;
}
.footer-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
    font-family: 'Neutra';
    text-transform: uppercase;
    font-size: 0.8rem;
}

footer nav a {
    color: var(--secondary);
    text-decoration: none;
    letter-spacing: 1px;
    transition: opacity 0.3s ease;
}

footer nav a:hover {
    opacity: 0.7;
}