@font-face {
    font-family: 'Neutra';
    src: url('../fonts/neutradisplaytitling-webfont.woff2') format('woff2'),
        url('../fonts/neutradisplaytitling-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat-medium-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #34767e;
    --secondary: white;
    --terciary: black;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    color: var(--terciary);
}